{% extends 'adm_based.html' %}
{% load staticfiles %}
{% block title %}SDNU-Adm-manage-teacher{% endblock %}
{% block content %}
    <!--<div class="body_container">   big head formd-->
    <div class="return_top">
        <a href="#return_button_top">
            <img src="{% static '/images/codingmonkey.png' %}" class="codingmonkey"> </a>
    </div>
    <div class="body_container1">
        <div class="body_background3">
            <div style="font-size: 40px;margin: auto;padding-top: 40px;padding-left: 20px;color: #5a1216">管理教室</div>
            <div class="manage—stu">

                <!-- --------------------------------   添加教师信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-plus"></span>&nbsp;添加教师信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="请输入教师姓名" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="请输入教师工号" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="pw"
                                       placeholder="请输入教师密码" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="major"
                                       placeholder="请输入所授课程号" style="width: 200px">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">添加</button>
                        </form>
                    </div>

                </div>
                <!-- --------------------------------   删除教师信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-minus"></span>&nbsp;删除教师信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="请输入教师工号" style="width: 200px">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">删除</button>
                        </form>
                    </div>
                </div>
                <!-- --------------------------------   修改教师信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-wrench"></span>&nbsp;修改教师信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="请输入教师姓名" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="请输入教师工号" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="pw"
                                       placeholder="请输入教师密码" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="major"
                                       placeholder="请输入所授课程号" style="width: 200px">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">修改</button>
                        </form>
                    </div>
                </div>
                <!-- --------------------------------   查询教师信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-binoculars"></span>&nbsp;查询教师信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="请输入教师工号" style="width: 200px">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">查询</button>
                        </form>
                    </div>
                </div>
                <!-- --------------------------------   批量导入教师信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-folder-upload"></span>&nbsp;批量导入教师信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="请输入名称" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputfile">文件输入</label>
                                <a href="javascript:;" class="select_file"
                                   style="margin-right:200px;padding: 4px 8px ;height: 20px;line-height: 20px;position: relative;border: 1px solid #999;text-decoration: none;color:#666">选择文件
                                    <input type="file" id="inputfile" multiple="multiple"
                                           style="position:absolute;overflow: hidden;top:0;opacity: 0">
                                </a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">导入</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--</div>-->

    <footer id="fh5co-footer">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>关于我们</h3>
                    <ul class="fh5co-links">
                        <li><a href="http://www.sdnu.edu.cn/">山东师范大学</a></li>
                        <li><a href="#">长清湖校区</a></li>
                        <li><a href="#">信息科学与工程学院</a></li>
                        <li><a href="#">葫芦娃串有限公司</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>支持</h3>
                    <ul class="fh5co-links">
                        <li><a href="#">吕蕾老师</a></li>
                        <li><a href="#">丁艳辉老师</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>联系我们</h3>
                    <p>
                        <a href="mailto:17861401560@163.com">17861401560@163.com</a> <br>
                        山东师范大学长清湖校区 <br>
                        信息科学与工程学院 <br>
                        葫芦娃团队 <br>
                    </p>
                </div>
            </div>

        </div>

    </div>
    <div class="fh5co-copyright animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="fh5co-left">
                        <small>&copy; 2019 <a href="index.html">SDNU</a> Jiahui Zhan</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
