{% extends 'adm_based.html' %}
{% load staticfiles %}
{% block title %}SDNU-Adm-manage-student{% endblock %}
{% block content %}
    <div class="body_container1">
        <canvas id="demo-canvas" style="position:absolute"></canvas>
        <div class="return_top">
            <a href="#return_button_top">
                <img src="{% static '/images/codingmonkey.png' %}" class="codingmonkey"> </a>
        </div>
        <div class="body_background3">
            <div style="font-size: 40px;margin: auto;padding-top: 40px;padding-left: 20px;color: #5a1216">管理学生</div>
            <div class="manage—stu">
                <!-- --------------------------------   添加学生信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-plus"></span>&nbsp;添加学生信息</span><br>
                    </div>
                    <div class="formd">
                        <form action="." class="form-inline" role="form" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="{{ form.name.id_for_label }}">名称</label>
                                <div>{{ form.name }}</div>
{#                                <input type="text" class="form-control" id="name"#}
{#                                       placeholder="请输入学生姓名" style="width: 200px">#}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="{{ form.username.id_for_label }}">名称</label>
                                <div>{{ form.username }}</div>
{#                                <input type="text" class="form-control" id="id"#}
{#                                       placeholder="请输入学生学号" style="width: 200px">#}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="{{ form.password.id_for_label }}">名称</label>
                                <div>{{ form.password }}</div>
{#                                <input type="text" class="form-control" id="pw"#}
{#                                       placeholder="请输入学生密码" style="width: 200px">#}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="{{ form.major.id_for_label }}">名称</label>
                                <div>{{ form.major }}</div>
{#                                <input type="text" class="form-control" id="major"#}
{#                                       placeholder="请输入专业" style="width: 200px">#}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="{{ form.sclass.id_for_label }}">名称</label>
                                <div>{{ form.sclass }}</div>
{#                                <input type="text" class="form-control" id="class"#}
{#                                       placeholder="请输入班级" style="width: 200px">#}
                            </div>
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox"> 确认#}
{#                                </label>#}
{#                            </div>#}
                            <button type="submit" class="btn btn-default">添加</button>
                        </form>
                    </div>

                </div>
                <!-- --------------------------------   删除学生信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-minus"></span>&nbsp;删除学生信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="请输入学生学号" style="width: 200px">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">删除</button>
                        </form>
                    </div>
                </div>
                <!-- --------------------------------   修改学生信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-wrench"></span>&nbsp;修改学生信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="请输入课程名称" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="请输入学生姓名" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="请输入学生学号" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="pw"
                                       placeholder="请输入学生密码" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="major"
                                       placeholder="请输入专业" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="class"
                                       placeholder="请输入班级" style="width: 200px">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">修改</button>
                        </form>
                    </div>
                </div>
                <!-- --------------------------------   查询学生信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-binoculars"></span>&nbsp;查询学生信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="请输入学生学号" style="width: 200px">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">查询</button>
                        </form>
                    </div>
                </div>
                <!-- --------------------------------   批量导入学生信息------------------------------>
                <div class="big">
                    <div class="head">
                        <span><span class="icon-folder-upload"></span>&nbsp;批量导入学生信息</span><br>
                    </div>
                    <div class="formd">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="请输入名称" style="width: 200px">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputfile">文件输入</label>
                                <a href="javascript:;" class="select_file"
                                   style="margin-right:200px;padding: 4px 8px ;height: 20px;line-height: 20px;position: relative;border: 1px solid #999;text-decoration: none;color:#666">选择文件
                                    <input type="file" id="inputfile" multiple="multiple"
                                           style="position:absolute;overflow: hidden;top:0;opacity: 0">
                                </a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 确认
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">导入</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

