{% extends 'stu_base.html' %}
{% load staticfiles %}
{% block title %}SDNU Student_modify_information{% endblock %}
{% block content %}

    <div class="body_container1">
{#        <div class="return_top">#}
{#            <a href="#return_button_top">#}
{#                <img src="{% static '/images/codingmonkey.png' %}" class="codingmonkey"> </a>#}
{#        </div>#}
        <div class="body_background">
            <div class="modify_message_box">
                <!--                <div class="touxiang">-->
                <!--                    <a >-->
                <!--                        <img src="index.jpg">-->
                <!--                    </a>-->
                <!--                    <div class="message_">-->
                <!--                        <p>展家慧</p>-->
                <!--                    </div>-->
                <!--                </div>-->
                <img src="{% static '/images/index.jpg' %}" class="body_note_message_icon">
                <div class="body_note_message_name">展家慧</div>
                <div style="float: left;color:white;margin-left: 80px">
                    学院：信息科学与工程学院
                </div>
                <div style="float: left;color:white;margin-left: 80px">
                    专业：计算机科学与技术专业
                </div>
                <div style="float: left;color:white;margin-left: 80px">
                    班级：计工本1701
                </div>
                <div class="modify_message">修改密码</div>
                <div class="modify_message">修改头像</div>
                <div class="modify_message">绑定邮箱</div>
                <div class="modify_message">帮助中心</div>
            </div>
            <div class="modify_change_box">
                <iframe class="modify_iframe" src="http:\\www.baidu.com">
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}
