{% extends 'stu_base.html' %}
{% load staticfiles %}
{% block title %}SDNU-Student_my_grade{% endblock %}
{% block content %}

    <div class="body_container2">
        <!--    <canvas id="demo-canvas" style="position:absolute"></canvas>-->
        <div class="return_top">
            <a href="#return_button_top">
                <img src="{% static '/images/codingmonkey.png' %}" class="codingmonkey"> </a>
        </div>
        <div class="schedule">

            <div><span class="remind">弘德明智 博学笃行</span></div>
            <div><span class="remind2"><center>成绩单</center><br></span></div>
            <table border="1">
                <tr class="datelisthead">
                    <td>课程代码</td>
                    <td>课程名称</td>
                    <td>课程性质</td>
                    <td>成绩</td>
                    <td>课程归属</td>
                    <td>补考成绩</td>
                    <td>重修成绩</td>
                    <td>学分</td>
                    <td>辅修标记</td>
                </tr>
                <tr class="alt">
                    <td>162000001</td>
                    <td>军事教育</td>
                    <td>必修</td>
                    <td>99</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>1.0</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="alt">
                    <td>15104</td>
                    <td>健美操(一)</td>
                    <td>必修</td>
                    <td>83</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>1.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160500003</td>
                    <td>大学英语综合课程（1）</td>
                    <td>必修</td>
                    <td>80</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160200005</td>
                    <td>形势与政策</td>
                    <td>必修</td>
                    <td>90</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160200001</td>
                    <td>思想道德修养与法律基础</td>
                    <td>必修</td>
                    <td>88</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>3.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161100107</td>
                    <td>C语言程序设计</td>
                    <td>必修</td>
                    <td>81</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>5.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161100106</td>
                    <td>信息技术导论</td>
                    <td>必修</td>
                    <td>86</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161100101</td>
                    <td>高等数学（1）</td>
                    <td>必修</td>
                    <td>93</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>6.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160500004</td>
                    <td>大学英语综合课程（2）</td>
                    <td>必修</td>
                    <td>84</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>15204</td>
                    <td>健美操(二)</td>
                    <td>必修</td>
                    <td>83</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>1.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160200002</td>
                    <td>中国近现代史纲要</td>
                    <td>必修</td>
                    <td>89</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161110201</td>
                    <td>数字电路</td>
                    <td>必修</td>
                    <td>94</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>5.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161110202</td>
                    <td>数据结构</td>
                    <td>必修</td>
                    <td>93</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>5.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161100104</td>
                    <td>线性代数</td>
                    <td>必修</td>
                    <td>87</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161100102</td>
                    <td>高等数学（2）</td>
                    <td>必修</td>
                    <td>96</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160002001</td>
                    <td>大学生职业发展与就业指导</td>
                    <td>任选</td>
                    <td>93</td>
                    <td>职业规划与就业指导类</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160005166</td>
                    <td>大学生心理健康自我调适</td>
                    <td>任选</td>
                    <td>89</td>
                    <td>人文与修养类</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>15301</td>
                    <td>篮球(三)</td>
                    <td>必修</td>
                    <td>80</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>1.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130202</td>
                    <td>离散数学</td>
                    <td>必修</td>
                    <td>97</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130201</td>
                    <td>操作系统</td>
                    <td>必修</td>
                    <td>84</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>5.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130204</td>
                    <td>面向对象程序设计</td>
                    <td>必修</td>
                    <td>98</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>3.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160200003</td>
                    <td>马克思主义基本原理概论</td>
                    <td>必修</td>
                    <td>89</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>3.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161100103</td>
                    <td>高等数学（3）</td>
                    <td>必修</td>
                    <td>87</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130304</td>
                    <td>多媒体技术</td>
                    <td>限选</td>
                    <td>92</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>3.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130325</td>
                    <td>网页设计与网站建设</td>
                    <td>限选</td>
                    <td>94</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>3.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130345</td>
                    <td>数字媒体后期制作</td>
                    <td>限选</td>
                    <td>90</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160001054</td>
                    <td>大学生创新创业（网络视频课）</td>
                    <td>任选</td>
                    <td>87</td>
                    <td>创新创业类</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>15404</td>
                    <td>健美操(四)</td>
                    <td>必修</td>
                    <td>86</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>1.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160200004</td>
                    <td>毛泽东思想和中国特色社会主义理论体系概论</td>
                    <td>必修</td>
                    <td>86</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>6.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161100105</td>
                    <td>概率统计</td>
                    <td>必修</td>
                    <td>97</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130203</td>
                    <td>数据库概论</td>
                    <td>必修</td>
                    <td>95</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130302</td>
                    <td>Java Programming（双语）</td>
                    <td>限选</td>
                    <td>96</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>5.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130301</td>
                    <td>信息系统项目实践</td>
                    <td>限选</td>
                    <td>92</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130307</td>
                    <td>人机交互技术</td>
                    <td>限选</td>
                    <td>97</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>3.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130314</td>
                    <td>Linux操作系统</td>
                    <td>限选</td>
                    <td>91</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>3.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>161130305</td>
                    <td>微机原理</td>
                    <td>限选</td>
                    <td>92</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>5.0</td>
                    <td>0</td>
                </tr>
                <tr class="alt">
                    <td>160cxcy01</td>
                    <td>创新创业教育</td>
                    <td>任选</td>
                    <td>合格</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>2</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}
