{% extends 'Tea_based.html' %}
{% load staticfiles %}
{% block title %}SDNU Student_elective_selected{% endblock %}
{% block content %}

    <div class="body_container1">

{#        <div class="return_top">#}
{#            <a href="#return_button_top">#}
{#                <img src="{% static '/images/codingmonkey.png' %}" class="codingmonkey"> </a>#}
{#        </div>#}
        <div class="schedule">
            <div class="number_of_student>"全部学生 共100人</div>
            <div>教师{{ request.session.name }}本学期共教授{{ course_num }}门课程, 拥有选课记录{{ items_num }}条。</div>

            <table border="1">

                <!--            <caption>已选 选修</caption>-->
                <tr class="datelisthead">
                    <td>所选课程</td>
                    <td>学生学号</td>
                    <td>学生姓名</td>
                    <td>学生专业</td>
                    <td>学生班级</td>
                </tr>

                {% for student in stu_sel_cou_objs %}
                <tr class="alt">
                    <td>{{ student.course_id.course_name }}</td>
                    <td>{{ student.student_id.username }}</td>
                    <td>{{ student.student_id.name }}</td>
                    <td>{{ student.student_id.major }}</td>
                    <td>{{ student.student_id.sclass }}</td>
                </tr>
                {% endfor %}



                <!--            <canvas id="demo-canvas" style="position:absolute"></canvas>-->
            </table>

        </div>

    </div>
    <script src="{% static '/js/TweenLite.min.js' %}"></script>
    <script src="{% static '/js/EasePack.min.js' %}"></script>
    <script src="{% static '/js/rAF.js' %}"></script>
    <script src="{% static '/js/demo-1.js' %}"></script>
    <!-- 代码部分end -->
{% endblock %}
