{% load staticfiles %}
<!--<script>alert(document.documentElement.clientHeight)</script>-->
<div class="logo">
    <a name="return_button_top"></a>
    <div class="logo_img">
        <img src="{% static '/images/logo.png' %}">
    </div>
    <div class="sousuo">
        <form>
            <span class="icon-search"></span> <!-- 搜索框的查找图标 -->
            <input type="text" class="search" placeholder="搜索">

        </form>
    </div>
</div>

{% if not user.is_authenticated %}
    <script type="text/javascript">
        alert("请登录！");
        window.location.href = "/account/login.html";
    </script>
{% endif %}

<nav class="navbar-default" role="navigation" style="background: #9d6b2e;opacity: 0.7">
    <div class="container-fluid">
        <!--        <div class="navbar-header" style="background: #152620;opacity: 0.6">-->
        <!--            <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;管理学生&nbsp;&nbsp;&nbsp;</a>-->
        <!--        </div>-->
        <div class="navbar-header" style="background: #152620;opacity: 0.6">
            <a class="navbar-brand" href="{% url "edu_admin:Welcome_tea" %}"  style="color:white">&nbsp;&nbsp;&nbsp;返回首页&nbsp;&nbsp;</a>
        </div>
        <div>
            <ul class="nav navbar-nav" style="background: #152620;opacity: 0.6">

                <li class="dropdown"><a href="{% url "edu_admin:Tea_my_sch" %}" style="color:white">&nbsp;&nbsp;&nbsp;查看课表&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="dropdown"><a href="{% url "edu_admin:Tea_student" %}" style="color:white">&nbsp;&nbsp;&nbsp;查看学生&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="dropdown"><a href="{% url "edu_admin:Tea_student_grade" %}" style="color:white">&nbsp;&nbsp;&nbsp;录入成绩&nbsp;&nbsp;&nbsp;</a>
                </li>
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">#}
{#                        &nbsp;&nbsp;&nbsp;管理其他&nbsp;&nbsp;&nbsp;#}
{#                        <b class="caret"></b>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="#"  style="color:black">修改选课时间</a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="#"  style="color:black;">修改录入成绩时间</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
            <div class="navbar-header" style="background: #152620;opacity: 0.6">
                <a class="navbar-brand" href="{% url 'account:user_logout' %}" style="color:white">&nbsp;&nbsp;&nbsp;退出登录&nbsp;&nbsp;</a>
            </div>
        </div>
    </div>
</nav>

    <div class="return_top" style="margin-top: 400px">
        <a href="#return_button_top">
            <img src="{% static '/images/codingmonkey2.png' %}" class="codingmonkey" style="height:150px;"> </a>
    </div>

    <!--<canvas id="demo-canvas" style="position:absolute"></canvas>-->
    <!--<div class="body_container">   big head formd-->

