{% extends 'adm_based.html' %}
{% load staticfiles %}
{% block title %}DNU-Adm-manage-courses{% endblock %}
{% block content %}
<!--<canvas id="demo-canvas" style="position:absolute"></canvas>-->
<!--<div class="body_container">   big head formd-->

{% if add_course_return == True %}
<script type="text/javascript">
    alert("课程添加成功！");
    window.location.href = "/edu_admin/Adm_manage_courses.html";
</script>
{% elif add_course_return == False %}
<script type="text/javascript">
    alert("{{ error_message }}");
    window.location.href = "/edu_admin/Adm_manage_courses.html";
</script>
{% elif add_course_return == "Ask" %}
<script type="text/javascript">
    alert("{{ warning_message }}");
    window.location.href = "/edu_admin/Adm_manage_courses.html";
</script>
{% elif search_course_return %}
<script type="text/javascript">
    alert("{{ course_name }}\n{{ teacher_name }}\n{{ credit }}\n{{ course_time }}\n{{ classroom }}");
    window.location.href = "/edu_admin/Adm_manage_courses.html";
</script>
{% elif search_course_return == False %}
<script type="text/javascript">
    alert("{{ error_message }}");
    window.location.href = "/edu_admin/Adm_manage_courses.html";
</script>
{% elif upload == False %}
<script type="text/javascript">
    alert("{{ error_message }}");
    window.location.href = "/edu_admin/Adm_manage_courses.html";
</script>
{% elif upload == True %}
<script type="text/javascript">
    alert("{{ error_message }}");
    window.location.href = "/edu_admin/Adm_manage_courses.html";
</script>
{% else %}
{% endif %}



<div class="body_container1">

    <div class="body_background3">
<!--        <div style="font-size: 40px;margin: auto;padding-top: 40px;padding-left: 20px;color: #5a1216">修改录入成绩时间</div>-->
        <div class="manage—stu">

            <!-- -------------------------------------------------------------->
            <div class="big" style="padding-top: 100px">
                <div class="head" style="margin-bottom: 50px">
                    <span><span class="icon-wrench"></span>&nbsp;修改录入成绩时间</span><br>
                </div>
                <div class="formd1">
                    <form>
                    <div class="input-group" style="margin-bottom: 30px">
                        <span class="input-group-addon">time</span>
                        <input type="text" class="form-control" id="name"
                               placeholder="请输入开始时间"  style="width: 400px">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">time</span>
                        <input type="text" class="form-control" id="name"
                               placeholder="请输入结束时间"  style="width: 400px">
                    </div>


                    <center><button type="submit" class="btn btn-default">确认</button></center>
                    </form>
                </div>

            </div>


        </div>
    </div>
</div>
<!--</div>-->

{% endblock %}