{% extends 'stu_base.html' %}
{% load staticfiles %}
{% block title %}SDNU Student_required_selected{% endblock %}
{% block content %}

<div class="body_container1">
{#    <div class="return_top">#}
{#        <a href="#return_button_top">#}
{#            <img src="{% static '/images/codingmonkey.png' %}" class="codingmonkey"> </a>#}
{#    </div>#}
    <div class="schedule">
        <div><span class="remind">每学期选课不应超过35学分！</span></div>
        <div><span class="remind2"><center>已选</center><br></span></div>
    <table border="1">
<!--        <caption><h3>已选(必修)</h3></caption>-->
        <tr class="datelisthead">
            <td>选课课号</td><td>课程代码</td><td>课程名称</td><td>教师姓名</td><td>学分</td><td>上课时间</td><td>上课地点</td>
        </tr>

        {% for course in course_info_objs %}
            <tr class="alt">
            <td>{{ course.select_course_id }}</td>
            <td>{{ course.select_course_id.course_id.course_id }}</td>
            <td>
                <a href="#"  class="click_class"onclick="window.open('kcxx.aspx?kcdm=161130205&amp;xh=201711010111','kcxx','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=0,width=490,height=500,left=200,top=50')">{{ course.select_course_id.course_id.course_name }}</a>
            </td>

            <td><a href="#" class="click_class" onclick="window.open('jsxx.aspx?jszgh=111057&amp;xkkh=(2019-2020-1)-161130205-111057-1&amp;xh=201711010111','jsxx','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=0,width=800,height=600,left=120,top=60')">{{ course.select_course_id.teacher_id.name }}</a>
            </td>
            <td>{{ course.select_course_id.course_id.credit }}</td>

            <td>
            <span id="DBGrid__ctl2_Label4">{{ course.select_course_id.time }}</span>
            </td>
            <td>{{ course.select_course_id.place_id.place }}</td>
        {% endfor %}

{#        </tr><tr class="alt">#}
{#        <td>(2019-2020-1)1</td><td>161130206</td>#}
{#        <td><a href="#"  class="click_class" onclick="window.open('kcxx.aspx?kcdm=161130206&amp;xh=201711010111','kcxx','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=0,width=490,height=500,left=200,top=50')">计算机组成原理</a></td><td>是</td><td><a href="#"  class="click_class" onclick="window.open('jsxx.aspx?jszgh=617080&amp;xkkh=(2019-2020-1)-161130206-617080-1&amp;xh=201711010111','jsxx','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=0,width=800,height=600,left=120,top=60')">王琳</a></td><td>4.0</td><td>4.0-0.0</td><td>#}
{#        <span id="DBGrid__ctl3_Label4">周一第3,4节{第1-18周};周三第3,4节{第1-18周}</span>#}
{#    </td><td>文渊楼C座127;文渊楼C座127</td>#}
    </tr>
    </table>
    </div>

</div>
{% endblock %}
