{% extends 'Tea_based.html' %}
{% load staticfiles %}
{% block title %}SDNU-Welcome-administrator{% endblock %}
{% block content %}

    <div class="body_container">
        <script type="text/javascript">
            window.onload = function () {
                var box1 = document.getElementById("box1");
                box1.onmousedown = function (event) {
                    // console.log(1);
                    // /*再次点击时使得图标任然在那个位置，鼠标可以点击到图标上*/
                    var ol = event.clientX - box1.offsetLeft;
                    var ot = event.clientY - box1.offsetTop;
                    /*鼠标点击*/
                    document.onmousemove = function (event) {
                        var left = event.clientX - ol;
                        var top = event.clientY - ot;
                        box1.style.left = left + "px";/*赋值*/
                        box1.style.top = top + "px";
                    }                /*鼠标松开*/
                    document.onmouseup = function (event) {
                        document.onmousemove = null;
                        document.onmouseup = null;
                    }
                }
            }
        </script>

        <div class="return_top" id="box1">
            <a href="#return_button_top">
                <img src="{% static '/images/codingmonkey.png' %}" class="codingmonkey"> </a>
        </div>

        <div class="remind_adm">
            <span>欢迎使用山东师范大学教务管理系统教师端！<br></span>
            <canvas id="demo-canvas" style="position:absolute"></canvas>
        </div>
        <!--    <div class="remind_adm1">-->
        <!--        <span>弘德明志 博学笃行</span>-->
        <!--    </div>-->
        <!--    <div class="infrom">-->
        <!--&lt;!&ndash;        <div class="infrom_text">&ndash;&gt;-->
        <!--&lt;!&ndash;            通知&ndash;&gt;-->
        <!--&lt;!&ndash;        </div>&ndash;&gt;-->
        <!--    </div>-->
        <div class="message">
            <div class="touxiang">
                <a href="http://www.sdnu.edu.cn/">
                    <img src="{% static '/images/Adm.jpg' %}">
                </a>
                <div class="message_">
                    <p>王你芸</p>
                </div>
            </div>
            <div class="meassage_xm">{{ request.session.name }}</div>
            <div class="meassage_xm">教师工号{{ request.session.username }}</div>
            <div class="meassage_xm"></div>
            <div class="meassage_xm"></div>

            <!--        <button class="return"><a href="login.html">返回</a></button>-->
            <button class="return  material-design" data-color="#ffffff" onclick="window.location='login.html'">返回
            </button>
            <script src="{% static '/js/index_animated_button.js' %}"></script>
            <!--        <button class="btn btn-round color-2 material-design" data-color="#ffffff">返回</button>-->
        </div>
    </div>
{% endblock %}

